* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  outline: none;
}

body {
  background-color: rgb(107, 144, 128);
}

h1 {
  text-align: center;
  color: rgb(255, 255, 255);
  margin: 2rem 0;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(246, 255, 248, 1);
  width: 450px;
  height: fit-content;
  padding: 20px;
  margin: 0 auto;
  border-radius: 15px;
}

.user-input {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.celcius,
.fahrenheit {
  display: grid;
}

label,
input {
  text-align: center;
  font-weight: bold;
}

input {
  margin: 10px 0 30px;
  font-size: 13px;
  padding: 5px 0;
  border: none;
  background: rgb(234, 244, 244);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 20%);
}

.btn {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2rem;
}

button {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  font-size: 15.6px;
  font-weight: 500;
  color: white;
  transition: all 300ms;
}

#convert {
  background-color: limegreen;
}
#convert:hover {
  background-color: darkgreen;
}

#reset {
  background-color: red;
}
#reset:hover {
  background-color: darkred;
}

#reserve {
  background-color: dodgerblue;
}
#reserve:hover {
  background-color: darkblue;
}

.information {
  background: rgb(204, 227, 222);
  padding: 10px;
  margin: 30px 30px 0;
  width: 430px;
  text-align: left;
  display: none;
  border-radius: 15px;
}

.information h5 {
  margin: 10px 0 0;
}

.information .output p {
  text-align: justify;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
